<html>
    <body>
        <h1>Expanded Message</h1>
        <h3> <%= message.user %></h3>
        <p> <%= message.email %></p>
        <p> <%= mmessage.age %></p>
        <p> <%= message.text %></p>
        <p> <%= message.added %></p>
        <button><a href="/">Close</a></button>
    </body>
</html>